h1 {
    text-align: center;
    background-color: white;
    color: black;
}
h2 {
    text-align: center;
    color: white;
}
p {
    font-family: Verdana;
    color: White;
	text-align: center;
}

body {
    /* We add a semi-transparent black layer (rgba 0,0,0,0.6) over the image */
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url('imagenoskill.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    position: sticky; /* Bonus "Elément avancé" */
    top: 0;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.menu a {
    color: white;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
.zoom-img {
    border-radius: 15px; /* Bordures arrondies */
    box-shadow: 0px 4px 15px rgba(0,0,0,0.5); /* Ombre portée */
    transition: transform 0.3s ease; /* Prépare l'animation */
}

.zoom-img:hover {
    transform: scale(1.05); /* L'image grossit légèrement quand on passe la souris */
    border: 3px solid white; /* Ajout d'une bordure */
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    margin-top: 50px;
}